.changeSmallWidget {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 2fr 1fr;
  place-items: center;
  grid-gap: 10px;
  padding: 5px;
}

.changeSmallWidget input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(137, 142, 111);
  outline: none;
  width: 100%;
}

.changeSmallWidget textarea {
  resize: none;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid rgb(137, 142, 111);
  outline: none;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.changeWidgetButton {
  justify-content: center;
  align-items: center;
  height: 20px;
  border: none;
  border-radius: 25px;
  padding: 5px;
  margin: 3px;
  background-color: rgb(137, 142, 111);
  font-weight: bold;
  color: white;
}

.changeWidgetButton:hover {
  background-color: rgb(116, 111, 142);
}

.changeWidgetButtonShow {
  display: flex;
}

.changeWidgetButtonHide {
  display: none;
}

.deleteWidgetButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 15px;
  border: none;
  border-radius: 50%;
  color: rgb(137, 142, 111);
  background-color: transparent;
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.deleteWidgetButton:hover {
  color: rgb(116, 111, 142);
}
