.currentActionsButton {
  border: none;
  width: 1rem;
  height: 1rem;
  color: indianred;
}

.submitButton {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: deepskyblue;
}

.submitButton:hover {
  background-color: turquoise;
}

/* .changeViewButton {
  background-color: indianred;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
}

.changeViewButton:hover {
  background-color: deepskyblue;
} */
