/* .changeViewButton {
  background-color: indianred;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
}

.changeViewButton:hover {
  background-color: deepskyblue;
} */
