.userSettingsBackground {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(234, 217, 190);
}

.userSettingsWindow {
  min-width: 350px;
  max-width: 700px;
  height: fit-content;
  padding: 20px;
  background-color: rgb(243, 237, 223);
  border: 1px solid rgba(128, 128, 128, 0.5);
  box-shadow: 0px 0px 8px 3px rgba(128, 128, 128, 0.2);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr repeat(2, 2fr) repeat(4, 1fr);
  grid-gap: 10px;
  grid-template-areas:
    ". header header ."
    "photo photo username username"
    "photo photo useremail useremail"
    ". . changesubscriptions changesubscriptions"
    ". . changelanguage changelanguage"
    ". . changepassword changepassword"
    ". . changecursor changecursor";
  place-items: center start;
}

.header {
  grid-area: header;
  place-self: center;
}

.userPhoto {
  grid-area: photo;
  place-self: center;
}

.userName {
  grid-area: username;
}

.userEmail {
  grid-area: useremail;
  position: relative;
}

.userEmail h3,
.userEmail p {
  pointer-events: none;
}

.userSubscriptions {
  grid-area: changesubscriptions;
}

.userLanguage {
  grid-area: changelanguage;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.userCursor {
  grid-area: changecursor;
}

.userPassword {
  grid-area: changepassword;
}

.buttons {
  grid-area: buttons;
}

.langButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(137, 142, 111);
}

.chooseLangButton {
  border: none;
  background-color: transparent;
  font-size: 15px;
}

.chooseLangButton:hover {
  color: rgb(116, 111, 142);
}

.chosenLang {
  color: rgb(137, 142, 111);
  font-weight: bold;
}

.otherLang {
  color: rgb(137, 142, 111);
}

.settingsButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  padding: 5px;
  border: none;
  border-radius: 25px;
  background-color: rgb(137, 142, 111);
  font-weight: bold;
  color: white;
}

.settingsButton:hover {
  background-color: rgb(116, 111, 142);
}

.pencilButton {
  position: absolute;
  border: none;
  top: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  color: rgb(116, 111, 142);
  width: 20px;
  height: 20px;
  font-size: 12px;
  background-color: transparent;
}

.pencilButton:hover {
  color: black;
}
