.imageEditorArea {
  width: 100%;
  height: 100%;
}

.userImage {
  width: 50%;
  position: relative;
}

.userImageCover {
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
}

.userImageCoverShow {
  display: flex;
}
