.addNewAction {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-y: auto;
  padding: 5px;
}

.addNewAction input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(137, 142, 111);
  outline: none;
  width: 100%;
  margin: 10px 0;
}

.action {
  width: 100%;
}

.progressBlock {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "header header header header"
    "progress outof total units";
  margin: 10px 0;
  grid-gap: 10px;
}

.progressBlock h4 {
  grid-area: header;
}

.progress {
  grid-area: progress;
}

.outOf {
  display: flex;
  justify-content: center;
  grid-area: outof;
}

.total {
  grid-area: total;
}

.units {
  grid-area: units;
}

.addActionButton {
  justify-content: center;
  align-items: center;
  height: 20px;
  border: none;
  border-radius: 25px;
  padding: 5px;
  margin: 3px;
  background-color: rgb(137, 142, 111);
  font-weight: bold;
  color: white;
}

.addActionButton:hover {
  background-color: rgb(116, 111, 142);
}

.addActionButtonShow {
  display: flex;
}

.addActionButtonHide {
  display: none;
}
