.navBar {
  grid-area: nav;
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 30px 2fr 30px 1fr 2fr 1fr;
  grid-template-areas: "home userLogo displayName addFriend . search userMenu";
  justify-items: center;
  align-items: center;
  color: white;
  position: fixed;
  top: 0;
  z-index: 10;
}

.navHome {
  background-color: rgb(137, 142, 111);
}

.navGuest {
  background-color: rgb(116, 111, 142);
}

.userLogo {
  grid-area: userLogo;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 2px solid rgb(234, 222, 206);
}

.displayName {
  grid-area: displayName;
  font-family: "Sneakerhead", sans-serif;
  color: white;
  height: 100%;
  line-height: 50px;
  text-align: center;
}

.userMenuButton {
  grid-area: userMenu;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 25px;
  background-color: rgb(234, 217, 190);
  box-sizing: content-box;
}

.userMenuButton:hover {
  border: 2px solid rgb(234, 222, 206);
}

.userMenuButton:hover {
  background-color: white;
}

.addFriendButton {
  grid-area: addFriend;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
  background-color: rgb(234, 217, 190);
  color: rgb(137, 142, 111);
}

.addFriendButton:hover {
  background-color: white;
}

.homeLink {
  color: white;
  grid-area: home;
  padding: 5px 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  font-family: "Sneakerhead", sans-serif;
  border-radius: 10px;
}

.homeLink:hover {
  background-color: rgb(234, 217, 190);
}
