.calendarDay {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendarDay:hover {
  background-color: deepskyblue;
  color: white;
  font-weight: bold;
  cursor: default;
}

.black {
  color: black;
}

.grey {
  color: grey;
}

.today {
  background-color: indianred;
  color: white;
  font-weight: bold;
}

.todayEvent {
  border: 1px solid lightgrey;
}
