.calendarDay {
  width: 100%;
  height: 100%;
}

.calendarDay a:hover {
  background-color: deepskyblue;
  color: white;
  font-weight: bold;
  cursor: default;
}

.calendarDay a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black {
  color: black;
}

.grey {
  color: grey;
}

.today a {
  background-color: indianred;
  color: white;
  font-weight: bold;
}

.todayEvent {
  border-radius: 50%;
  border: 1px solid lightgrey;
}
