.userArea {
  width: 100%;
  display: grid;
  grid-template-columns: auto repeat(2, 600px) auto;
  grid-template-rows: auto repeat(3, 410px) auto;
  grid-template-areas:
    "nav nav nav nav"
    ". calendar smallActions ."
    ". currentActions graph ."
    " . futurePlans someshit ."
    "footer footer footer footer";
  justify-items: center;
  align-items: center;
  grid-gap: 2rem;
}
