.userArea {
  width: 100%;
  display: grid;
  grid-template-columns: 200px repeat(2, minmax(350px, 600px)) 200px;
  grid-template-rows: 50px 30px repeat(3, 410px) auto;
  grid-template-areas:
    "nav nav nav nav"
    ". . . ."
    ". calendar smallActions subscriptions"
    ". currentActions graph subscriptions"
    " . futurePlans someshit subscriptions"
    "footer footer footer subscriptions";
  justify-items: center;
  align-items: center;
  grid-gap: 2rem;
}

.callSubscriptionsButton {
  display: none;
  grid-area: callSubscriptions;
  justify-self: end;
  border: none;
  border-radius: 5px;
  height: 30px;
  padding: 5px;
  margin-right: 15px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: #01afb0;
}

.callSubscriptionsButton:hover {
  background-color: #fe504f;
  color: black;
}

@media only screen and (max-width: 1200px) {
  .userArea {
    grid-template-columns: auto repeat(2, minmax(350px, 600px)) 200px;
  }

  .callSubscriptionsButton {
    display: block;
  }
}

@media only screen and (max-width: 1000px) {
  .userArea {
    grid-template-columns: auto repeat(2, minmax(350px, 600px)) auto;
    grid-template-areas:
      "nav nav nav nav"
      ". . callSubscriptions ."
      ". calendar smallActions ."
      ". currentActions graph ."
      " . futurePlans someshit ."
      "footer footer footer footer";
  }
}

@media only screen and (max-width: 770px) {
  .userArea {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 350px 1fr;
    grid-template-rows: 50px 30px repeat(6, 410px) auto;
    grid-template-areas:
      "nav nav nav"
      ". callSubscriptions callSubscriptions"
      ". calendar ."
      ". smallActions ."
      ". currentActions ."
      ". graph ."
      " . futurePlans ."
      ". someshit ."
      "footer footer footer";
    justify-items: center;
    align-items: center;
    grid-gap: 20px;
  }
}
