.verificationWindow {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.verifyEmailButton {
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 45%;
  margin: 5px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: rgb(137, 142, 111);
}

.verifyEmailButton:hover {
  background-color: rgb(116, 111, 142);
  color: black;
}

.signOutButton {
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 45%;
  margin: 5px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: rgb(116, 111, 142);
}

.signOutButton:hover {
  background-color: rgb(137, 142, 111);
  color: black;
}
