.welcomePage {
  width: 100%;
  height: 100vh;
  background-color: #fe504f;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  grid-template-areas: "greetings signin";
  justify-items: center;
  align-items: center;
}

.greetings {
  grid-area: greetings;
  font-size: 4rem;
  font-weight: bold;
  color: white;
}

.signInForm {
  grid-area: signin;
  width: 350px;
  height: 410px;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.5);
  box-shadow: 0px 0px 8px 3px rgba(128, 128, 128, 0.2);
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.signInForm a {
  position: absolute;
  bottom: -30px;
  width: 100%;
  height: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  border-radius: 30px;
  text-align: center;
}

.signInForm a:hover {
  background-color: white;
  color: #fe504f;
}

.inputBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input {
  margin: 10px auto;
  width: 100%;
  border: none;
  border-bottom: 2px solid #fe504f;
  background-color: transparent;
  outline: none;
}

.goHomeButton {
  grid-area: signin;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 200px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  background-color: #01afb0;
}

.goHomeButton:hover {
  background-color: white;
  color: black;
}

.signInButton {
  border: none;
  border-radius: 5px;
  height: 30px;
  padding: 0 10px;
  font-weight: bold;
  color: white;
  background-color: #fe504f;
}

.signInButton:hover {
  background-color: #01afb0;
}
