.welcomePage {
  width: 100%;
  height: 100vh;
  background-color: rgb(234, 217, 190);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  grid-template-areas: "greetings signin";
  justify-items: center;
  align-items: center;
}

.greetings {
  grid-area: greetings;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Sneakerhead", sans-serif;
  color: white;
}

.logo {
  width: 50%;
}

.greetings h1 {
  font-size: 70px;
}

.signInForm {
  grid-area: signin;
  width: 350px;
  height: 410px;
  background-color: rgb(243, 237, 223);
  border: 1px solid rgba(128, 128, 128, 0.5);
  box-shadow: 0px 0px 8px 3px rgba(128, 128, 128, 0.2);
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.signInForm a {
  position: absolute;
  bottom: -30px;
  width: 100%;
  height: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  border-radius: 30px;
  text-align: center;
}

.signInForm a:hover {
  background-color: rgb(243, 237, 223);
  color: rgb(137, 142, 111);
}

.inputBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input {
  margin: 10px auto;
  width: 100%;
  border: none;
  border-bottom: 2px solid rgb(137, 142, 111);
  background-color: transparent;
  outline: none;
}

.buttons {
  grid-area: signin;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.goHomeButton {
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 200px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  background-color: rgb(137, 142, 111);
  margin: 0 5px;
}

.goHomeButton:hover {
  background-color: rgb(116, 111, 142);
}

.signOutButton {
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 150px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  background-color: rgb(116, 111, 142);
  margin: 0 5px;
}

.signOutButton:hover {
  background-color: red;
}

.signInButton {
  border: none;
  border-radius: 5px;
  height: 30px;
  padding: 0 10px;
  font-weight: bold;
  color: white;
  background-color: rgb(137, 142, 111);
}

.signInButton:hover {
  background-color: rgb(116, 111, 142);
}

.langButtons {
  position: fixed;
  top: 5px;
  right: 15px;
  height: 20px;
  width: auto;
  display: flex;
  justify-content: end;
  align-items: center;
  color: rgb(137, 142, 111);
}

.chooseLangButton {
  border: none;
  background-color: transparent;
  font-size: 15px;
}

.chooseLangButton:hover {
  color: rgb(116, 111, 142);
}

.chosenLang {
  color: rgb(137, 142, 111);
  font-weight: bold;
}

.otherLang {
  color: rgb(137, 142, 111);
}

@media only screen and (max-width: 1200px) {
  .greetings h1 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 800px) {
  .greetings h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 700px) {
  .welcomePage {
    min-height: 100%;
    height: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "greetings"
      "signin";
    grid-gap: 10px;
    padding: 50px 0;
  }
  .logo {
    height: 50%;
  }
}
