/* 
COLORS:
main background: rgb(234, 217, 190)
main accent: rgb(137, 142, 111)
main accent opposite: rgb(116, 111, 142)
main light: rgb(234, 222, 206)
 */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: "Sneakerhead";
  src: url("./fonts/Sneakerhead_20BTN.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

html {
  font-family: "Roboto", sans-serif;
}
