.todayActions {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.eventInput {
  width: 100%;
}

.upperButtonsBlock {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.emojiWindow {
  position: absolute;
  flex-direction: column;
}

.emodjiWindowIsVisible {
  display: flex;
}

.emodjiWindowIsHidden {
  display: none;
}

.chosenEmojiBlock {
  background-color: white;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 5px 10px #efefef;
}
